@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

.card-effect {
  transition: transform 0.3s;
}

.card-effect:hover {
  transform: scale(1.1);
}

.shadow-bg {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

#canv {
  width: 100%;
  border: 1px solid #737373;
  border-radius: 8px;
  margin-bottom: 5px;
}

#reload_href {
  color: #d99904 !important;
}
